.select{
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  width: 95%;
  font: inherit;
  padding: 0.2rem;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.label {
  display: block;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: left;
  color: white;
}

.option {
  margin-left: 2rem;
  margin-right: 1rem;
  display: flex;
  width: 95%;
  font: inherit;
  padding: 0.2rem;
  border-radius: 12px;
  border: 1px solid #ccc;
}
