.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.select{
  margin-left: 1rem;
  margin-right: 1rem;
  flex:3;
  display: block;
  width: 95%;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.select:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.label {
  font-weight: bold;
  flex: 1;
  color: white;
  margin-bottom: 0.5rem;
  display: block;
}

.option {
  margin-left: 2rem;
  margin-right: 1rem;
  display: flex;
  width: 95%;
  font: inherit;
  padding: 0.2rem;
  border-radius: 12px;
  border: 1px solid #ccc;
}



