.message{
  color:white;
  padding:1rem;
}

.table {
  display: inline-table;
  margin: 0;
  margin-top: -0.5rem;
  margin-bottom: 1.3rem;
  padding: 0.7rem;
  width: 100%;
  font-size: 1.4rem;  
  color: white;
  overflow: auto;
}

.table_header {
  cursor: pointer;
  padding: 0.7rem;
  padding-top: 0rem;
  padding-bottom: 1.2rem;
  min-height: max-content;
  min-width: max-content;
  max-height: 1rem;
}

.table_header_actions {
  padding: 0.7rem;
  color: #dd0db0;
}

.table_body{
  max-width: inherit;
}

.table_row{
  font: bolder;
}

.table_row_sort{
  padding:0rem;
  font-size: 1.6rem;
  color: #dd0db0;
}

.table_header_sort {
  padding: 0rem;
  vertical-align: bottom;
}

.button{
  margin-top: 1rem;
  margin-bottom: 0rem;
}