.message{
  color:white;
  padding:1rem;
}

.table {
  display: inline-table;
  margin: 0;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: inherit;
  font-size: large;  
  color: white;
}

.table_header {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  max-width: inherit;
}

.table_header_actions {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  max-width: inherit;
  color: #dd0db0;
}

.table_body{
  max-width: inherit;
}

.table_row{
  max-width: inherit;
}

.table_data {
  border-top: 2px solid rgb(239, 233, 233);
  cursor: auto;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  width: fit-content;
  max-width: inherit;
}

.button{
  margin-top: 1rem;
  margin-bottom: 0rem;
}