.table_row{
  border: 1px solid #4e4d4e;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;  
  padding: 0.75rem 3.5rem;
}

.table_row:hover,
.table_row:active{
  box-shadow: 0 2px 8px #741188;
  cursor:pointer;
}

.table_row td{
  cursor: auto;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  width: fit-content;
  max-width: inherit;
}

.table_button {
  width: fit-content;
  height: auto;
  max-width: inherit;
  vertical-align: bottom;
  margin-left: -5rem;
}

.remove{
  max-width: 0rem;
  background-color: transparent;
  cursor:pointer;
  margin-right: 1rem;
  border:0;
  font-size: 34px;
  color: #dd0db0;
}

.details,
.edit{
  max-width: 0rem;
  background-color: transparent;
  cursor:pointer;
  margin-right: 2rem;
  border:0;
  font-size: 34px;
  color: #dd0db0;
}

.details:after{
  content: '\1F50D \FE0E';
  vertical-align: inherit;
}

.edit:after {
  content: '\270E';
  vertical-align: inherit;
}

.remove:after {
  /*content: '\1F5D1';*/
  content: '\1F5D9';
  vertical-align: inherit;
}