.control {
  margin: 0;
}

.form_card {
  padding-bottom: 1.5rem;
  max-height: fit-content;
  overflow-y: auto;
}

.message {
  display: block;
  font-weight: bolder;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: left;
  color: white;
  font-size: x-large;
}

.message_secondary {
  overflow-y: auto;
  white-space: pre-line;
  display: block;
  font-weight: normal;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: left;
  color: white;
  max-height: 500px;
}

.button_confirm {
  margin-right: 0.5rem;
  margin-bottom: -1rem;
  float: right;
  font: inherit;
  background: #dd0db0;
  border: 1px solid #dd0db0;
  padding: 0.5rem 1.5rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
}
