.card_admin{
  margin-right: 1rem;
  margin-left: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.admin{
  display: flex;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  align-self: center;
  text-emphasis-color: white;
  outline: white;
  color: white;
}

.summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:1rem;
}

.card{
  float:right;
  padding-left:0.8rem;
  padding-right:0.8rem;
  padding-top:0.2rem;
  padding-bottom:0.2rem;
  max-width: 30rem;
  color:white;
}

.details{
  cursor:pointer;
  color:white;
  font:bold;
  font-family: inherit;
  font-size: large;
}

.button_details{
  max-width: 0rem;
  display: inline;
  background-color: transparent;
  cursor:pointer;
  margin-left: 0.5rem;
  border:0;
  font-size: 24px;
  color: #dd0db0;
}

.button_details:after{
  content: '\1F50D \FE0E';
  vertical-align: baseline;
}