.section_constraints{
  margin-right: 0rem;
  margin-left: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
  display:flex;
}

.card_constraints{
  max-width: fit-content;
}

.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: #230052;
}

.button_add{
  margin-top:-4rem;
  margin-right:1rem;
  float:right;
  font: inherit;
  background: #dd0db0;
  border: 1px solid #dd0db0;
  padding: 0.5rem 1.5rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
}

