.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #dddddd;
  padding: 0 2rem;
}

.header h1 {
  color: black;
}

.header h1:hover,
.header h1:active {
  color: #87169d;
  cursor: pointer;
}

.header nav {
  display: block;
}

.header ul {
  list-style: none;
  margin: 0;
  margin-right: -1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.header li {
  margin: 0;
  margin-left: 2rem;
}

.header a {
  text-decoration: none;
  color: black;
}

.header a:hover,
.header a:active, 
.header a.active {
  color: #87169d;
  cursor: pointer;
  font-weight: bold;
}

.header button {
  font: inherit;
  background: black;
  border: 1px solid black;
  padding: 0.5rem 1.5rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
}

.header button:focus {
  outline: none;
}

.header button:hover,
.header button:active 
{
  color: #f3cafb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}
