.sidebar {
  float: left;
  width: 28%;
  padding: 0;
  margin-right: 2%;
  margin-bottom: 2%;
}

.home {
  float: left;
  width: auto;
  width: 70%;
  max-width: auto;
  padding: 3rem;
  text-align: center;
}

.homepage {
  margin-top: -1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .home,
  .sidebar {
    width: 100%;
    height: auto;
  }
}
