.sidebar {
  float: left;
  padding: 0;
  max-width: fit-content;
  width: 100%;
  margin-right: 0.5%;
  margin-bottom: 2%;
  vertical-align: middle;
}

.home {
  align-self: center;
  margin:auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  width: fit-content;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(20, 20, 20);
}

.homepage {
  display: flex;
  margin-top: -2rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 1rem;
  width: 100%;
}

.home h1{
  color:white;
}

